<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h2>Creado por el Licenciado Linares y su equipo.</h2>
                    
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fa-solid fa-truck-fast"></i>
                    <h2>Envios por OK a toda el país</h2>
                    <p>Los mejores alfajores de la region</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fa-brands fa-whatsapp"></i>
                    
                    <h2>Abiertos las 24 horas los 365 dias del año</h2>
                    
                </article>
            </div>
        </div>
    </div>
</footer>