<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/ProyectoIntegrador/public/images/descarga (1).png">
	
	<title> Mercadopreso </title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

	<link rel="stylesheet" href="/ProyectoIntegrador/public/stylesheets/bootstrap-grid.min.css">

	<link rel="stylesheet" href="/ProyectoIntegrador/public/stylesheets/app.css">
</head>