body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-family: 'Cabin', sans-serif;
}
p {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}