<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
    <%- include('./partials/headerLogueado') %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
		
			<h2 class="col-12"> <i> 
			<form action="/products/add" method="post"	
			class="form-register-container">
			<br>
				<input type="text" name="nombre" class="form-register" placeholder="Nombre de producto" value="">
			<br>
				<input type="text" name="descripcion" class="form-register" placeholder="Descripción de producto" value="">
			<br>
				<input type="text" name="image" class="form-register" placeholder="" value="">
			<br>
				<input type="text" name="UsersId" class="form-register" placeholder="id del usuario" value="">
			<br>
			<br>
				<button type="submit"> Guarda el alfajor! </button>
			</form>
			</h2>
		
	
    <%- include('./partials/footer') %>
</body>

</html>