<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head', {titulo:"Editar Producto"}) %>

<body>
	<!-- Header -->
    <% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
		
			<h2 class="col-12"> <i> 
<<<<<<< HEAD
			<form action="/products/add" method="post"	
			class="form-register-container">
			<br>
				<input type="text" name="nombre" class="form-register" placeholder="Nombre de producto" value="">
			<br>
				<input type="text" name="descripcion" class="form-register" placeholder="Descripción de producto" value="">
			<br>
				<input type="text" name="image" class="form-register" placeholder="" value="">
			<br>
				<input type="text" name="UsersId" class="form-register" placeholder="id del usuario" value="">
			<br>
			<br>
				<button type="submit"> Guarda el alfajor! </button>
			</form>
=======
				<form action="/product/id" method="post" class="form-register-container">	
					<input type="text" name="fuproduct" class="form-register" placeholder="Nombre de producto">
					<input type="text" name="fuproductdesciption" class="form-register" placeholder="Descripción de producto">
					<input type="date" name="fdate" class="form-register" placeholder="Fecha de carga">
					<input type="file" name="fphoto" class="form-register" placeholder="ingresar imagen producto" value="ingresar imagen">
					<button type="submit" class="btn btn-primary">Subir Producto</button>
				</form>
>>>>>>> 3f8019c12c98e777dbff8242756b595c000307b6
			</h2>
		
	
    <%- include('./partials/footer') %>
</body>

</html>