<html>
    <head>
    <%- include("./partials/head") %>
    </head>
<body>

    <%- include("./partials/header") %>
    <main>
    	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- ak viene el numbre del doc al que va la informacion --> 
			<form action="/register/store" method="post">
				<div>
					<%  if(locals.errores) {%> 
						<p><%= errores.message%> </p>
						<% } %> 
				</div>
				
				<div>
				
					 <label for="nombre">Nombre:</label>
					 <input id="nombre" type="text" name="usuario" value="">
				 </div>
				 <div>
					
					 <label for="email">Email:</label>
					 <input id="email" type="email" name="email" value="">
				</div>
				<div>
					
					<label for="password">contraseña </label>
					<input id="password" type="password" name="password" value="">
			   	</div>
		 		<div>
				<label for="nuemro de documento">nuemro de documento:</label>
				<input id="nuemro de documento" type="text" name="NumeroDeDocumento" value="">
	 		  </div>
		   <!--foto de perfil no sabemos como c hace-->
		 <!--<input type="file" class="form-register" name="foto"> -->  
				 <div>
					 <button type="submit"> Registrarse </button>
				</div>
			</form>
</main>
<%- include("./partials/footer") %>

</body>
</html>
